# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://enpnblfodxuiqclzuuii.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVucG5ibGZvZHh1aXFjbHp1dWlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5ODcxNjEsImV4cCI6MjEwMTU2MzE2MX0.m5Ot3PlIT1pdkLQMLMeLTPiMNxUQ2_VWsZmk5PqjJJQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVucG5ibGZvZHh1aXFjbHp1dWlpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTk4NzE2MSwiZXhwIjoyMTAxNTYzMTYxfQ.61OzG_daW3S7XerU0yrOthRZHc9JS9r7McJBEntdVCk
